*{
    font-family: 'Roboto',arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.logo-box a{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: large;
}

.logo-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 80px;
}
i{
    padding: 20px;
}
.fa-user-circle{
    font-size: x-large;
}


.nav-items{
    display: flex;
    border-bottom: 1px solid gray;
    width: 100%;
  

}
.nav-items  li{
    list-style: none;
    
    
}

.nav-items a{
    color: rgba(0,0,0,0.87);
    text-decoration: none;

    
}
.nav-items a:hover{
    border-bottom: 1px solid blue;
    
}


.container a{
 color: blue;
}

h2{
    font-size: 20px;
    font-weight: bolder;
    margin: 5px 100px 10px 100px;
    padding: 5px 60px 10px 60px;
    line-height: 30px;
}
h6{
    font-weight: bolder;
    margin: 10px 100px 10px 100px;
    padding: 10px 60px 10px 60px;
}
ol , li{
    margin: 3px 10px 20px 80px;
    padding: 2px 2px 2px 25px;

}
p{
    margin: 3px 100px 10px 100px;
    padding: 5px 60px 10px 60px;
    line-height: 30px;
}

